openapi: 3.2.0
info:
  title: 91Squarefeet Content Types API
  version: wp/v2
  description: Read-only content API for 91squarefeet.com.
  contact:
    name: 91Squarefeet
    url: https://91squarefeet.com/contact-us/
  x-generated-from: https://91squarefeet.com/wp-json (WordPress REST route index)
  x-generated-by: API Evangelist enrichment pipeline — derived, not published by the provider
  x-observed:
    probed: '2026-09-05'
    note: Response field sets and record counts recorded from live anonymous GETs against https://91squarefeet.com/wp-json/wp/v2/*; X-WP-Total supplied the counts.
servers:
- url: https://91squarefeet.com/wp-json
  description: WordPress REST API root on the production site host. Verified 2026-09-05 (HTTP 200, application/json).
security: []
tags:
- name: Types
  description: Registered content types on the site.
paths:
  /wp/v2/types:
    get:
      operationId: listTypes
      summary: Types
      description: Registered content types on the site. Read-only, unauthenticated.
      tags:
      - Types
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/RestError'
        '404':
          $ref: '#/components/responses/RestError'
components:
  responses:
    RestError:
      description: WordPress REST error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestError'
  schemas:
    RestError:
      type: object
      description: The WordPress REST error envelope returned on any failure.
      required:
      - code
      - message
      - data
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden, rest_no_route, rest_invalid_param.
          example: rest_forbidden
        message:
          type: string
          description: Human-readable error message.
          example: Sorry, you are not allowed to do that.
        data:
          type: object
          description: Error detail.
          properties:
            status:
              type: integer
              description: HTTP status code.
              example: 401
            params:
              type: object
            details:
              type: object
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: 'WordPress Application Passwords (HTTP Basic). Required only for write operations and the authenticated namespaces, which are not described in this document. Authorization endpoint: https://91squarefeet.com/wp-admin/authorize-application.php'
