openapi: 3.2.0
info:
  title: 91Squarefeet Content Search API
  version: wp/v2
  description: Read-only content API for 91squarefeet.com.
  contact:
    name: 91Squarefeet
    url: https://91squarefeet.com/contact-us/
  x-generated-from: https://91squarefeet.com/wp-json (WordPress REST route index)
  x-generated-by: API Evangelist enrichment pipeline — derived, not published by the provider
  x-observed:
    probed: '2026-09-05'
    note: Response field sets and record counts recorded from live anonymous GETs against https://91squarefeet.com/wp-json/wp/v2/*; X-WP-Total supplied the counts.
servers:
- url: https://91squarefeet.com/wp-json
  description: WordPress REST API root on the production site host. Verified 2026-09-05 (HTTP 200, application/json).
security: []
tags:
- name: Search
  description: Cross-content-type search.
paths:
  /wp/v2/search:
    get:
      operationId: search
      summary: Search
      description: Cross-content-type search. Read-only, unauthenticated.
      tags:
      - Search
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
        description: Limit result set to specific IDs.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: subtype
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post
            - page
            - e-floating-buttons
            - elementor_library
            - elementskit_content
            - case_study
            - client
            - portfolio
            - press_release
            - property
            - testimonial
            - category
            - post_tag
            - client_category
            - display_location
            - mobile_category
            - property_location
            - any
          default: any
        description: Limit results to items of one or more object subtypes.
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
        description: Limit results to items of an object type.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
        '400':
          $ref: '#/components/responses/RestError'
        '404':
          $ref: '#/components/responses/RestError'
components:
  responses:
    RestError:
      description: WordPress REST error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RestError'
  schemas:
    RestError:
      type: object
      description: The WordPress REST error envelope returned on any failure.
      required:
      - code
      - message
      - data
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden, rest_no_route, rest_invalid_param.
          example: rest_forbidden
        message:
          type: string
          description: Human-readable error message.
          example: Sorry, you are not allowed to do that.
        data:
          type: object
          description: Error detail.
          properties:
            status:
              type: integer
              description: HTTP status code.
              example: 401
            params:
              type: object
            details:
              type: object
    SearchResult:
      type: object
      description: A search hit.
      properties:
        id:
          type: integer
        title:
          type: string
        url:
          type: string
          format: uri
        type:
          type: string
        subtype:
          type: string
        _links:
          type: object
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: 'WordPress Application Passwords (HTTP Basic). Required only for write operations and the authenticated namespaces, which are not described in this document. Authorization endpoint: https://91squarefeet.com/wp-admin/authorize-application.php'
